<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="armassem1">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import armassem1 urdf file -->
    <xacro:include filename="$(find my_robot_description)/urdf/armassem1.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="armassem1.ros2_control.xacro" />


    <xacro:armassem1_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
